body { margin: 0;
    background: #bdbdbd;
 }
header{
	width: 100%;
    background: #000000;
	height: 150px;
    
}
.title{
	font-size: 36px;
	padding-top: 10px;
	text-align: center;
}
.menu{
	list-style: none;
	position: absolute;
	top: 10px;
	left: 250px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-flow: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
ul li a {
    padding: 10px 80px;
    text-transform: uppercase;
text-decoration: none;
color: #bdbdbd;
font-weight: bold;
}
